name: "baize"
mode: "dev" #dev 开发模式，日志打印到控制台，prod  生产模式，日志不打印控制台
port: 8080
version: 2.0.0
start_time: "2022-08-08"  #此日期用于雪花算法
cluster: true   #如果集群部署 cache必须使用redis
task_number: 4
task_channel_number: 10
host: http://192.168.2.122:8080
log:
  level: trace
#  filename: /Volumes/disk01/baizelog/baizelog.log  #默认./log
#  max_size: 200
#  max_age: 30
#  max_backups: 7
clickhouse:
  link: tcp://192.168.2.100:9999/nova_device_metric?username=default&password=asd1234567@
mysql:
  host: 192.168.2.100
  user: root
  password: root
  dbname: baize
  port: 3306
  max_open_conns: 20
  max_idle_conns: 5
cache:
  type: redis
  redis:
    host: 192.168.2.100
    port: 6380
    password:
    db: 1
    pool_size: 100
token:
  expire_time: 60
upload_file:
  type: local     #上传地点 本地->local(集群部署需要做硬盘挂载,挂载路径需一直)  亚马逊->s3   移动云->eos  如果不填则默认本地当前目录
  domain_name: http://192.168.2.122:8080   #如果本地则填写服务器域名,其他存储桶填写对应域名
  localhost:
    public_path: ./public/
    private_path: ./private/
dataset:
  api_key: ragflow-JmNmIyYjk0MjY1NzExZjBiNmVlMDI0Mm
  host: http://192.168.2.100
  image_url: http://192.168.2.100
metric:
  datasource: iotdb
#  datasource: clickhouse
  host: 0.0.0.0:6000
daemonize:
  address: ":10050"
  server_list:
    - 127.0.0.1:10050
  debug: true
iotdb:
  host: 192.168.2.100
  port: 6667
  username: "root"
  password: "root"
